@import "../../styles/variables.scss";

.user {
  display: flex;

  .view {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    .info {
      align-self: flex-start;
      .topInfo {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          width: 100px;
          height: 100px;
          border-radius: 20px;
          object-fit: cover;
        }

        h1 {
          font-weight: 500;
        }

        span {
          font-size: 32px;
          color: $main-color;
        }
      }
      .details {
        font-size: 18px;

        .item {
          margin: 30px 0px;

          .itemTitle {
            font-weight: 600;
            margin-right: 10px;
            text-transform: capitalize;
          }
        }
      }
    }

    hr {
      align-self: flex-start;
      width: 90%;
      height: 0;
      border: 0.5px solid gray;
      margin: 20px 0px;
    }

    .chart {
      align-self: flex-start;
      margin-top: 50px;
      width: 80%;
      height: 400px;
    }
  }
  .activities {
    flex: 1;

    h2 {
      margin-bottom: 20px;
    }

    ul {
      li {
        list-style-type: none;
        position: relative;
        width: 1px;
        padding-top: 50px;
        background-color: #f45b69;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #f45b69;
          transform: translateX(-50%);
        }

        div {
          min-width: 480px;
          padding: 15px;
          background-color: #f45b6810;

          p {
            margin-bottom: 5px;
          }

          time {
            font-size: 12px;
          }
        }
      }
    }
  }

  .empty {
    font-size: 24px;
    padding: 8px;
    border-radius: 4px;
    background-color: $main-color;
    color: $dark-color;
    user-select: none;
  }
}

// Tablet Responsiveness
@media (max-width: 1024px) {
  .user {
    flex-direction: column;

    .view {
      min-height: auto;

      .info {
        width: 100%;

        .topInfo {
          gap: 15px;

          img {
            width: 80px;
            height: 80px;
          }

          span {
            font-size: 24px;
          }
        }

        .details {
          font-size: 16px;

          .item {
            margin: 15px 0px;
          }
        }
      }

      .chart {
        width: 100%;
        height: 300px;
        margin-top: 30px;
      }
    }

    .activities {
      width: 100%;
      margin-top: 30px;

      ul li div {
        min-width: auto;
      }
    }
  }
}

// Mobile Responsiveness
@media (max-width: 768px) {
  .user {
    flex-direction: column;

    .view {
      .info {
        .topInfo {
          flex-direction: column;
          text-align: center;
          gap: 10px;

          img {
            width: 70px;
            height: 70px;
          }

          h1 {
            font-size: 18px;
          }

          span {
            font-size: 20px;
          }
        }

        .details {
          font-size: 14px;

          .item {
            margin: 12px 0px;
          }
        }
      }

      hr {
        width: 100%;
      }

      .chart {
        width: 100%;
        height: 250px;
        margin-top: 20px;
      }
    }

    .activities {
      ul li div {
        min-width: 100%;
        padding: 12px;
      }
    }
  }
}

@media (max-width: 480px) {
  .user {
    .view {
      .info {
        .topInfo {
          img {
            width: 60px;
            height: 60px;
          }

          h1 {
            font-size: 16px;
          }

          span {
            font-size: 18px;
          }
        }

        .details {
          font-size: 13px;
        }
      }

      .chart {
        height: 200px;
      }
    }

    .activities {
      ul li {
        padding-top: 30px;

        div {
          padding: 10px;

          p {
            font-size: 13px;
          }

          time {
            font-size: 11px;
          }
        }
      }
    }
  }
}
