.chartBox {
  display: flex;
  height: 100%;

  .boxInfo {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .chartInfo {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chart {
      width: 100%;
      height: 100%;
    }

    .texts {
      display: flex;
      flex-direction: column;
      text-align: right;

      .percentage {
        font-weight: bold;
      }

      .duration {
        font-size: 13px;
      }
    }
  }
}

// Tablet Responsiveness
@media (max-width: 768px) {
  .chartBox {
    flex-direction: column;

    .boxInfo {
      flex: 1;

      .title {
        font-size: 13px;
      }
    }

    .chartInfo {
      flex: 1;
      margin-top: 10px;

      .texts {
        text-align: left;

        .percentage {
          font-size: 14px;
        }

        .duration {
          font-size: 12px;
        }
      }
    }
  }
}

// Mobile Responsiveness
@media (max-width: 480px) {
  .chartBox {
    flex-direction: column;
    gap: 8px;

    .boxInfo {
      .title {
        font-size: 12px;
      }
    }

    .chartInfo {
      margin-top: 8px;

      .texts {
        .percentage {
          font-size: 12px;
        }

        .duration {
          font-size: 11px;
        }
      }
    }
  }
}
